.form-control {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.form-control-selector {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

button {
  margin:4px;
}

.md-form {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mborder {
border-width:1px;
border-style:solid;
border-color:gray;
padding: 20px;
margin-bottom: 20px;
margin-top: 20px;
}

.isa_error {
  color: #D8000C;
  background-color: #FFD2D2;
}



mat-card {
  width: 50%;
  height: max-content;
  margin: 0 auto;
}
